.hr{
  border: solid;
}
.body{
    background: linear-gradient(70deg,green,white)
}
.titulo-principal{
    color: blue;
    font-size: 35px;
    text-align: center;
}
.titulo-secundario{
    color: red;
    font-size: 28px;
    text-align: center;
    text-decoration:underline;
}
.primer-fondo{
    background-color: grey;
}

.ul{
   display: inline;
}